<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.dao.gihwan.FileDao">
    <insert id="insertFile">
        INSERT INTO tblFile
        (fileId, fileGubn, fileRefId,
        fileName, fileExt,
        instId, instDt, updtId, updtDt)
        VALUES
        (
        NULL, #{fileGubn}, #{fileRefId},
        #{fileName}, #{fileExt},
        #{instId}, NOW(), NULL, NOW()
        )
    </insert>
    <select id="selectFile">
        SELECT COUNT(*) FROM tblFile WHERE fileGubn = #{fileGubn} AND fileRefId = #{fileRefId}
    </select>
    <update id="updateFile">
        UPDATE tblFile
        SET
        fileGubn=#{fileGubn},
        fileRefId=#{fileRefId},
        fileName=#{fileName},
        fileExt=#{fileExt},
        updtId=#{updtId},
        updtDt=NOW()
        WHERE fileGubn = #{fileGubn} AND fileRefId = #{fileRefId}
    </update>
    <delete id="deleteFile">
        DELETE FROM tblFile
        WHERE
        fileGubn = #{fileGubn} AND fileRefId = #{fileRefId}
    </delete>
</mapper>