<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>공통 레이아웃</title>
    <!-- CSS 파일 적용 -->
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 스크립트 추가 구경림 2024-01-02 -->
    <link rel="stylesheet" href="/css/common/variable.css">
    <script th:src="@{/js/rim/api.js}"></script>
    <script th:src="@{/js/rim/auth.js}"></script>
    <script th:src="@{/js/rim/header.js}"></script>
</head>
<!-- 헤더 -->
<div th:replace="~{/layout_dir/fragments/header :: header}"></div>
<!-- 본문 -->
<body layout:fragment="content">
    <!-- 본문이 동적으로 삽입될 영역 -->
</body>
<!-- 푸터 -->
<div th:replace="~{/layout_dir/fragments/footer :: footer}"></div>
<!-- JavaScript 파일 적용 -->
<script layout:fragment="script"></script>
<script th:src="@{/js/layout.js}"></script>
</html>
