<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>공통 레이아웃</title>
    <!-- CSS 파일 적용 -->
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<!-- 헤더 -->
<div th:replace="~{/layout_dir/fragments/header :: header}"></div>

<!-- 본문 -->
<main layout:fragment="content">
    <!-- 본문이 동적으로 삽입될 영역 -->
</main>

<!-- 푸터 -->
<div th:replace="~{/layout_dir/fragments/footer :: footer}"></div>
</body>
<!-- JavaScript 파일 적용 -->
<script th:src="@{/js/layout.js}"></script>
</html>
