*{
    color: #333;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.container {
    width: 1400px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

aside {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
}
aside .aside-title {
    padding-left: 30px;
    padding-top: 50px;
}

aside ul {
    list-style-type: none;
    padding-left: 30px;
}
aside a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 25px 0;
}

aside a:hover {
    color: skyblue;
}

aside li ul {
    padding-left: 20px;
}

.main-content{
    width: 100%;
    padding-top: 40px;
}
.main-title {
    font-size: 30px;
    font-weight: bold;
    padding: 8px 25px;
}
.input-container{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

#post-title{
    width: 100%;
}

.minus-stack {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #8B1FFF;
    border: 1px solid #CECECE;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 3px;
    width: auto;
}

.add-stack {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #CECECE;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 3px;
    width: auto;
}