*{
    --base: #B7673C;
    --point: #FF8000;
    --nav: #3A5154;
    --line: #929AA2;
    --text: #1D2625;
    --side: #e9ecef;
    color: #333;
}

.main-content button{
    font-size: 16px;
}

.container {
    width: 1400px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.flex-container{
    display: flex;
    justify-content: center;
}

aside {
    background-color: var(--side);
    height: 100%;
    width: 100%;
}
aside .aside-title {
    padding-left: 30px;
    padding-top: 50px;
}

aside ul {
    list-style-type: none;
    padding-left: 30px;
}
aside a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 25px 0;
}

aside a:hover {
    color: var(--point);
}

aside li ul {
    padding-left: 20px;
}

.main-content{
    width: 100%;
    padding-top: 40px;
}

.main-title {
    font-size: 30px;
    font-weight: bold;
    padding: 8px 25px;
}

/* 여기까지가 마이페이지 공통 css이다.*/

.column-flex{
    display: flex;
    flex-direction: column;
}

.row-flex{
    display: flex;
    flex-direction: row;
}

.list-padding{
    padding: 20px 25px;
    gap: 25px;
}

.post-item{
    height: 120px;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: var(--side);
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.photo-item{
    width: 150px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.post-info{
    flex: 3;
    height: 100%;
    justify-content: space-between;
}

.post-button{
    background-color: var(--base);
    color: #eee;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.resume{
    padding: 10px 20px;
}

.text-button{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.inner-button{
    padding: 5px 20px;
}

.post-item.row-flex {
    white-space: nowrap;
}

.user-list{
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
}