/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 2rem;
}

/* Resume List Container */
#resumeList {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Resume Item */
#resumeList div {
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

#resumeList div:last-child {
    border-bottom: none;
}

/* Resume Title */
#resumeList strong {
    font-size: 1.2rem;
    color: #B7673C;
}

/* Resume Date */
#resumeList span {
    font-size: 0.9rem;
    color: #777;
}

/* Button Styles */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #929AA2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #929AA2;
}

/* Confirmation Popup */
#confirmationPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
    z-index: 1000;
}

#confirmationPopup p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333;
}

#confirmationPopup button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 0.9rem;
    border-radius: 5px;
}

#confirmationPopup button:first-child {
    background-color: #28a745;
    color: white;
    border: none;
}

#confirmationPopup button:first-child:hover {
    background-color: #218838;
}

#confirmationPopup button:last-child {
    background-color: #dc3545;
    color: white;
    border: none;
}

#confirmationPopup button:last-child:hover {
    background-color: #c82333;
}
